<% include ./partials/header %>

<h1>Login!</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="text" name="password" value="" placeholder="password">
  <button>Login</button>
</form>

<% include ./partials/footer %>
